@mixin gradiente{
  background-image: radial-gradient($blanco, $blanco_hueso);
}

@mixin font-face{
  @font-face {
  font-family: "Titulos";
   src: url('../fonts/BaskervvilleSC-SemiBold.woff2') format("woff2");
  //src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {

  font-family: "Textos";
  src: url('../fonts/BaskervvilleSC-Regular.woff2') format("woff2");
  /*src: url('../fonts/Montserrat-Regular.ttf');*/
}
}
@mixin gradiente-general($color1, $color2) {
  background-image: radial-gradient($color1, $color2);
}
@mixin gradiente-lineal-transparente($color1, $color2) {
  background-image: linear-gradient(to right, $color1, $color2);}
@function gradiente-angulo($angulo,$color1,$color2){

@return linear-gradient(#{$angulo}deg,$color1,$color2);
}