@mixin gradiente{
  background-image: radial-gradient($purple,$black)
}

@mixin font-face{
  @font-face {
  font-family: "Pixel-Titulo";
  src: url('../fonts/Jersey15-Regular.ttf');
}
@font-face {
  font-family: "Pixel-Texto";
  src: url('../fonts/PixelifySans-VariableFont_wght.ttf');
}
}
@mixin gradiente-general($color1, $color2) {
  background-image: radial-gradient($color1, $color2);
}
