@import "variables.scss";
@import "mixin.scss";
@include font-face;
header{
 
  @include gradiente-lineal-transparente(rgba(27, 44, 154, 0.3), rgba(76, 229, 224, 0.1));
  
  h1{
    
    padding: 6%;
    
   
    color: $cyanAccent;
    font-family: "Pixel-Titulo";
    font-size: 2.5em;
    text-shadow: 2px 2px 0 #020fc2;
  }

  nav{
    
    ul{
      
      list-style-type: none;//Elimina las viñetas
      
    
      li{
        
        text-align: center;
        a{
          font-size: 0.9em;
          border-radius: 8px;
          transition: background 0.3s ease;
          text-decoration: none;//saca subrayado de los links
          color: $brightYellow;
          
          &:hover{
            @include gradiente-general($deepBlue,$neonPink)
          }
          
        }
        svg{

          width: 2.2rem;
          height: auto;

        @media (min-width: 768px) {
          
          width: 2.5rem;
          
        }

        @media (min-width: 1200px) {
          
          width: 3rem;
          
        }
        }

        
      }
    }

  }
}
body{
  
  
  
  .titulo{
    width: 100%;
    color:$deepBlue;
    font-family: "Pixel-Titulo";
    text-shadow: 1px 1px  white;
    font-size: clamp(3rem, 4vw, 3.5rem);;
    
}
  
  @include gradiente();
 
    
    .oferta{
      img{
        size: 50%;
        width: 100%;
      }
      a{
        text-decoration: none;

      }
      button{
       cursor: pointer; 
      }
    }
    
  }
  
//}
//PRODUCTOS INICIO

.card_producto_consumible img,
.card_producto_arma img,
.card_producto_herramienta img {
  display: block;
  width: 100%; 
  height: auto;
  object-fit: contain;
  z-index: 1;
}
.card_producto_consumible,
.card_producto_arma,
.card_producto_herramienta{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  border-radius: 30%;
  top: 5%;
  width: 100%;
  max-width: 400px;
}
.card_producto_consumible:hover,
.card_producto_arma:hover,
.card_producto_herramienta:hover{
   @include gradiente-general($deepBlue,$neonPink);
   transition:background 00.2s;
   
}
.card_producto_consumible h3 ,
.card_producto_arma h3 ,
.card_producto_herramienta h3{
  position: absolute;
  top: 43%;                   // Centra verticalmente (mitad del contenedor)
  left: 50%;                  // Centra horizontalmente
  transform: translate(-50%, -50%); // Ajusta el punto de anclaje al centro
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 6% #000;
  font-size: 25pt;
  z-index: 2;
  

}

//PRODUCTOS FIN


//CONTACTO INICIO

.formulario{
  font-family: "Pixel-Texto";
  font-size: 1.2em;
  color:$deepBlue;
  text-shadow: 1px 1px 1px white;
  textarea{
    resize:none;
  }
  
  
  
}




//CONTACTO FIN

//LISTA_PRODUCTOS_INICIO
body{
  main{
    a{
      text-decoration: none;
    }
  }
 .titulo_productos{
      display:inline;
      margin-top: 1em;
      width: 100%;
      //font-size: 4em;
      color:$deepBlue;
      font-family: "Pixel-Titulo";
      text-shadow: 1px 1px 0 #000;
      text-align: center;
 }
 .productos{
   position: relative;
   //display: flex;
   gap:1%;

   //justify-content: space-around;//los items tienen espacio alrededor
   //flex-wrap: wrap;// para que bajen si no hay espacio
   
   .producto{
    text-align: center;
    position: relative;
    margin: 1.5em;
    padding-bottom: 50px;
    padding: 2px;
    border-radius: 10%;
    border: 2px solid $border;
      img{
        max-width: 100%;
        //min-height: 150px;
        width: 200px;
        height: auto;
      }
   }
   a{
    font-size: small;
   }
   .precio{
        font-family: "Pixel-Titulo";
        font-size: 2em;
        
      }
    
    p{
      font-family: "Pixel-Texto";
      
    }
     .average{
        font-size: 1.1em;
        color: $average;
        text-shadow: 2px 2px  #000;
      }
      .poco_comun{
        font-size: 1.1em;
        color:$poco_comun;
        text-shadow: 0 0 1em #fff700
      }
      .epico{
        font-size: 1.1em;
        color:$epic;
        text-shadow: 0 0 1em #ff0033;
        
      }
      a{
        justify-content: space-around;
        text-align: center;
        font-size: 1.2em;
      }
      
  }
}

//LISTA_PRODUCTOS_FIN

//FICHA_PRODUCTO_INICIO
body{
  .titulo_ficha{
      display:inline-block;
      width: 100%;
      font-size: 2em;
      color:$brightYellow;
      font-family: "Pixel-Titulo";
      text-shadow: 1px 1px 0 #000;
      text-align: center;
      
  }
  .ficha_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
   
  }
  .precio{
        font-family: "Pixel-Titulo";
        font-size: 1.2em;
        
      }
    
    p{
      font-family: "Pixel-Texto";
      
    }
     .average{
        font-size: 1.1em;
        color: $average;
        text-shadow: 2px 2px  #000;
      }
      .poco_comun{
        font-size: 1.1em;
        color:$poco_comun;
        text-shadow: 0 0 1em #fff700
      }
      .epico{
        font-size: 1.1em;
        color:$epic;
        text-shadow: 0 0 1em #ff0033;
        
      }
}
//FICHA_PRODUCTO_FIN


p{
  color: white;
  text-shadow: 1px 1px 0 #000;
  text-decoration-color: #000;
}

a{
  font-family: "Pixel-Texto";
  color: $deepBlue;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 white;
  text-decoration: none;
}



footer{
  @include gradiente-lineal-transparente(rgba(30, 30, 30, 0.048),rgba(190, 6, 214, 0.26));
  a{
    text-decoration: none;
  }
  
  }


* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
//* {
//  outline: 1px solid rgba(255, 0, 0, 0.2);
//}