@font-face {
  font-family: "Pixel-Titulo";
  src: url("../fonts/Jersey15-Regular.ttf");
}
@font-face {
  font-family: "Pixel-Texto";
  src: url("../fonts/PixelifySans-VariableFont_wght.ttf");
}
header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(27, 44, 154, 0.3), rgba(76, 229, 224, 0.1));
}
header h1 {
  padding: 0px 100px;
  color: rgb(76, 229, 224);
  font-family: "Pixel-Titulo";
  font-size: 2.5em;
  text-shadow: 2px 2px 0 #020fc2;
}
header nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  font-size: 1.2em;
  border-radius: 8px;
  transition: background 0.3s ease;
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  color: #ffe36e;
}
header nav ul li a:hover {
  background-image: radial-gradient(rgb(27, 44, 154), #ff3cb1);
}
header nav ul li svg {
  margin-right: 8px;
  height: 30px;
  width: 30px;
}

body {
  background-image: radial-gradient(rgb(76, 229, 224), rgb(27, 44, 154));
  margin: 0px;
  position: relative;
}
body .ofertas {
  font-family: "Pixel-Titulo";
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .ofertas .oferta a {
  text-decoration: none;
}
body .ofertas .oferta button {
  cursor: pointer;
}
body main {
  margin-bottom: 60px;
}
body .titulo-loots-diarios {
  margin-top: 1em;
  width: 100%;
  font-size: 2em;
  color: rgb(27, 44, 154);
  font-family: "Pixel-Titulo";
  text-shadow: 1px 1px 0 white;
  text-align: center;
}

.titulo-inventario {
  margin-top: 1em;
  width: 100%;
  font-size: 2em;
  color: rgb(27, 44, 154);
  font-family: "Pixel-Titulo";
  text-shadow: 1px 1px 0 white;
  text-align: center;
}

.card_productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #ffe36e;
  position: relative;
}

.card_producto_consumible img,
.card_producto_arma img,
.card_producto_herramienta img {
  display: block;
  width: 250px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.card_producto_consumible,
.card_producto_arma,
.card_producto_herramienta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
  border-radius: 30px;
  top: 5%;
  width: 270px;
  height: 250px;
}

.card_producto_consumible:hover,
.card_producto_arma:hover,
.card_producto_herramienta:hover {
  background-image: radial-gradient(rgb(27, 44, 154), #ff3cb1);
  transition: background 0.2s;
}

.card_producto_consumible h3,
.card_producto_arma h3,
.card_producto_herramienta h3 {
  position: absolute;
  top: 30%;
  left: 52%;
  transform: translate(-50%, -50%);
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 6px #000;
  font-size: 25pt;
  z-index: 2;
}

.titulo-contacto {
  margin-top: 1em;
  width: 100%;
  font-size: 2em;
  color: rgb(27, 44, 154);
  font-family: "Pixel-Titulo";
  text-shadow: 1px 1px 0 white;
  text-align: center;
}

body .form_contacto {
  font-size: 1.2em;
  color: rgb(27, 44, 154);
  font-family: "Pixel-Texto";
  text-shadow: 1px 1px 0 rgb(19, 18, 18);
  flex: wrap;
  border-radius: 10px;
  border: 2px solid rgb(76, 229, 224);
  padding: 2%;
  box-shadow: 10px 10px 8px #1e1e1e;
}
body .form_contacto input {
  width: 100%;
  margin-bottom: 2%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #1e1e1e;
}
body .form_contacto textarea {
  display: flex;
  position: relative;
  right: 2%;
  margin: 4%;
  border-radius: 4px;
  border: 2px solid #1e1e1e;
}

body .titulo_productos {
  display: inline;
  margin-top: 1em;
  width: 100%;
  font-size: 4em;
  color: rgb(27, 44, 154);
  font-family: "Pixel-Titulo";
  text-shadow: 1px 1px 0 #000;
  text-align: center;
}
body .productos {
  position: relative;
  display: flex;
  gap: 1%;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .productos .producto {
  padding: 2%;
  border-radius: 10px;
  border: 2px solid rgba(0, 255, 0, 0.235);
}
body .productos .precio {
  font-family: "Pixel-Titulo";
  font-size: 2em;
}
body .productos p {
  font-family: "Pixel-Texto";
}
body .productos .average {
  font-size: 1.1em;
  color: #aaaaaa;
  text-shadow: 2px 2px #000;
}
body .productos .poco_comun {
  font-size: 1.1em;
  color: #fff700;
  text-shadow: 0 0 1em #fff700;
}
body .productos .epico {
  font-size: 1.1em;
  color: #ff0033;
  text-shadow: 0 0 1em #ff0033;
}
body .productos a {
  justify-content: space-around;
  text-align: center;
  font-size: 1.2em;
}

body .titulo_ficha {
  display: inline-block;
  width: 100%;
  font-size: 2em;
  color: #ffe36e;
  font-family: "Pixel-Titulo";
  text-shadow: 1px 1px 0 #000;
  text-align: center;
}
body .ficha_producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .precio {
  font-family: "Pixel-Titulo";
  font-size: 1.2em;
}
body p {
  font-family: "Pixel-Texto";
}
body .average {
  font-size: 1.1em;
  color: #aaaaaa;
  text-shadow: 2px 2px #000;
}
body .poco_comun {
  font-size: 1.1em;
  color: #fff700;
  text-shadow: 0 0 1em #fff700;
}
body .epico {
  font-size: 1.1em;
  color: #ff0033;
  text-shadow: 0 0 1em #ff0033;
}

p {
  color: white;
  text-shadow: 1px 1px 0 #000;
  text-decoration-color: #000;
}

a {
  font-family: "Pixel-Texto";
  color: rgb(27, 44, 154);
  font-size: 1.5em;
  text-shadow: 1px 1px 0 white;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(to right, rgba(30, 30, 30, 0.048), rgba(190, 6, 214, 0.26));
  position: absolute;
  width: 100%;
  gap: 0.2%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer a {
  display: flex;
  flex-direction: column;
  gap: 0.2%;
}
footer a p {
  display: flex;
  flex-direction: column;
  gap: 0.2%;
}/*# sourceMappingURL=style.css.map */