$black:#1e1e1e;
$purple:#8e44ad;
$green:#3f8c55;

body{
  background-color: #1e1e1e;
}

@font-face {
  font-family: "Pixel-Titulo";
  src: url();
}






.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    color:#AF7EAD;
    font-family: "Jersey 10";
}