@import "variables.scss";
@import "mixin.scss";
@include font-face;
header{
  display: flex;// para que aparezcan en la misma linea los bloques 
  align-items: center;
  @include gradiente-lineal-transparente(rgba(30, 30, 30, 0.3), rgba(8, 213, 66, 0.1));
  
  h1{
    padding: 0px 100px;
  }
  nav{
    
    ul{
      
      list-style-type: none;//Elimina las viñetas
      margin: 0px; //eliminar la configuración predeterminada del navegador
      padding: 0px;
    
      li{
        float: left;
        
        a{
          border-radius: 8px;
          transition: background 0.3s ease;
          text-decoration: none;//saca subrayado de los links
          display: block;//por defecto el <a> es inline aplico block para que el padding funcione
          padding:  15px 15px;
          &:hover{
            @include gradiente-general($black,$green)
          }
          
        }
        svg{
          margin-right: 8px;//separa el icono del link
            height: 30px;
            width: 30px;
          }
      }
    }

  }
}
body{
  @include gradiente();
  margin: 0px;
  padding-bottom: 60px;
  position: relative;

  .ofertas{
    font-family: "Pixel-Titulo";
    display: flex;
    gap: 20px;
    justify-content: space-around;//los items tienen espacio alrededor
    flex-wrap: wrap;// para que bajen si no hay espacio
    .oferta{

      a{
        text-decoration: none;

      }
      button{
       cursor: pointer; 
      }
    }
  }
  .titulo-loots-diarios{
    margin-top: 1em;
    width: 100%;
    font-size: 2em;
    color:$green;
    font-family: "Pixel-Titulo";
    text-shadow: 1px 1px 0 #000;
    text-align: center;
}
}
//PRODUCTOS INICIO

.titulo-inventario{
    margin-top: 1em;
    width: 100%;
    font-size: 2em;
    color:$green;
    font-family: "Pixel-Titulo";
    text-shadow: 1px 1px 0 #000;
    text-align: center;
}

.card_productos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: $linkgreen;
  position: relative;
}


.card_producto_consumible img,
.card_producto_arma img,
.card_producto_herramienta img {
  display: block;
  width: 250px; 
  height: auto;
  object-fit: contain;
  z-index: 1;
}
.card_producto_consumible,
.card_producto_arma,
.card_producto_herramienta{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
  border-radius: 8px;
  top: 5%;
  width: 270px; 
  height: 250px;
}
.card_producto_consumible:hover,
.card_producto_arma:hover,
.card_producto_herramienta:hover{
   @include gradiente-general($black,$green)
}
.card_producto_consumible h3 ,
.card_producto_arma h3 ,
.card_producto_herramienta h3{
  position: absolute;
  top: 30%;                   // Centra verticalmente (mitad del contenedor)
  left: 52%;                  // Centra horizontalmente
  transform: translate(-50%, -50%); // Ajusta el punto de anclaje al centro
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 6px #000;
  font-size: 25pt;
  z-index: 2;
  

}

//PRODUCTOS FIN


//CONTACTO INICIO
.titulo-contacto{
    margin-top: 1em;
    width: 100%;
    font-size: 2em;
    color:$green;
    font-family: "Pixel-Titulo";
    text-shadow: 1px 1px 0 #000;
    text-align: center;
}
body{
  .form_contacto{
      color:$green;
      font-family: "Pixel-Texto";
      text-shadow: 1px 1px 0 #000;
      flex: wrap;
      border-radius: 10px;
      border: 2px solid $green;
      padding: 2%;
      box-shadow: 10px 10px 8px $black;
      input{
        width: 100%;
        margin-bottom: 2%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 2px solid $black;
      }
      textarea{
        display:flex;
        position:relative;
        right: 2%;
        margin: 4%;
        border-radius: 4px;
        border: 2px solid $black;
      }
    }
  }

//CONTACTO FIN

//LISTA_PRODUCTOS_INICIO
body{
 .titulo_productos{
      display:inline;
      margin-top: 1em;
      width: 100%;
      font-size: 2em;
      color:$green;
      font-family: "Pixel-Titulo";
      text-shadow: 1px 1px 0 #000;
      text-align: center;
 }
 .productos{
   position: relative;
   display: flex;
   gap:1%;

   justify-content: space-around;//los items tienen espacio alrededor
   flex-wrap: wrap;// para que bajen si no hay espacio
   
   .producto{
    padding: 2%;
    border-radius: 10px;
    border: 2px solid $border;
   }
   
   .precio{
        font-family: "Pixel-Titulo";
        font-size: 1.2em;
        
      }
    
    p{
      font-family: "Pixel-Texto";
      
    }
     .average{
        font-size: 1.1em;
        color: $average;
        text-shadow: 2px 2px  #000;
      }
      .poco_comun{
        font-size: 1.1em;
        color:$poco_comun;
        text-shadow: 0 0 1em #fff700
      }
      .epico{
        font-size: 1.1em;
        color:$epic;
        text-shadow: 0 0 1em #ff0033;
        
      }
      a{
        justify-content: space-around;
        text-align: center;
        font-size: 1.2em;
      }
      
  }
}

//LISTA_PRODUCTOS_FIN

//FICHA_PRODUCTO_INICIO
body{
  .titulo_ficha{
      display:inline-block;
      width: 100%;
      font-size: 2em;
      color:$green;
      font-family: "Pixel-Titulo";
      text-shadow: 1px 1px 0 #000;
      text-align: center;
      
  }
  .ficha_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
   
  }
  .precio{
        font-family: "Pixel-Titulo";
        font-size: 1.2em;
        
      }
    
    p{
      font-family: "Pixel-Texto";
      
    }
     .average{
        font-size: 1.1em;
        color: $average;
        text-shadow: 2px 2px  #000;
      }
      .poco_comun{
        font-size: 1.1em;
        color:$poco_comun;
        text-shadow: 0 0 1em #fff700
      }
      .epico{
        font-size: 1.1em;
        color:$epic;
        text-shadow: 0 0 1em #ff0033;
        
      }
}
//FICHA_PRODUCTO_FIN
h1{
    color:$green;
    font-family: "Pixel-Titulo";
    text-shadow: 1px 1px 0 #000;
    
}

p{
  color: $green;
  text-shadow: 1px 1px 0 #000;
}

a{
  font-family: "Pixel-Texto";
  color: $linkgreen;
  text-shadow: 1px 1px 0 #000;
  text-decoration: none;

}

footer{
  position: absolute;
  width: 100%;
  gap: 0.2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  a{
    display: flex;
    flex-direction: column;
    gap: 0.2%;
  p{
    display: flex;
    flex-direction: column;
    gap: 0.2%;
  }
  
  }
}

