$dark:#2E2E2E;
$blanco: #e6e2e2;
$blanco_hueso:#f5f0f0;
$azul:#1E90FF;
$azul-hover:#006aff86;
$gris-oscuro:#2c3e50;
$gris-claro: #b2babb;
$marron:#ab6426;











 
$black:#1e1e1e;
$purple:rgb(142, 68, 173);
$green:#08d542c8;
$linkgreen:#00c03d;
$epic:#ff0033;
$poco_comun:#fff700;
$average: #aaaaaa;
$border: rgba(0, 255, 0, 0.235);;

// 🎮 Paleta estilo pixel art
$sky: #87eafd;
$neonPink: #ff3cb1;
$deepBlue: rgba(27, 44, 154, 0.419);
$cyanAccent: rgb(76, 229, 224);
$brightYellow: #ffe36e;
$neonPurple: #b367fc;
$hotRed: #ff4f69;

